<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.mapper.InstitutePatentRelationPublishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ai.entity.InstitutePatentRelationPublish">
        <id column="id" property="id"/>
        <result column="institute_id" property="instituteId"/>
        <result column="patent_id" property="patentId"/>
        <result column="patent_code" property="patentCode"/>
        <result column="relation_state" property="relationState"/>
        <result column="status_online" property="statusOnline"/>
        <result column="patent_name" property="patentName"/>
        <result column="ipc_codes" property="ipcCodes"/>
        <result column="apply_name" property="applyName"/>
        <result column="apply_time" property="applyTime"/>
        <result column="deleted" property="deleted"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, institute_id, patent_id, patent_code, relation_state, status_online, patent_name, ipc_codes, apply_name, apply_time, deleted, create_user_id, create_time, update_user_id, update_time
    </sql>   


</mapper>
