<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.excel.mapper.ModelOutputMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.excel.entity.ModelOutput">
        <id column="id" property="id"/>
        <result column="area_name" property="areaName"/>
        <result column="area_code" property="areaCode"/>
        <result column="plan_name" property="planName"/>
        <result column="data_type" property="dataType"/>
        <result column="new_value" property="newValue"/>
        <result column="stock_value" property="stockValue"/>
        <result column="actual_value" property="actualValue"/>
        <result column="gdp_rate" property="gdpRate"/>
        <result column="estimated_energy_consumption

e" property="estimatedEnergyConsumption

e"/>
        <result column="projected_carbon_emissions" property="projectedCarbonEmissions"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area_name, area_code, plan_name, data_type, new_value, stock_value, actual_value, gdp_rate, estimated_energy_consumption

e, projected_carbon_emissions, create_time, update_time
    </sql>   


</mapper>
