<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.replay.mapper.PredictIndicatorsSubentryPublishMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.replay.entity.PredictIndicatorsSubentryPublish">
        <id column="id" property="id"/>
        <result column="field_id" property="fieldId"/>
        <result column="feature_id" property="featureId"/>
        <result column="subentry_id" property="subentryId"/>
        <result column="subentry_type" property="subentryType"/>
        <result column="subentry_code" property="subentryCode"/>
        <result column="subentry_content" property="subentryContent"/>
        <result column="subentry_score" property="subentryScore"/>
        <result column="sort" property="sort"/>
        <result column="status_publish" property="statusPublish"/>
        <result column="replay_id" property="replayId"/>
        <result column="metadata_id" property="metadataId"/>
        <result column="changed" property="changed"/>
        <result column="deleted" property="deleted"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, field_id, feature_id, subentry_id, subentry_type, subentry_code, subentry_content, subentry_score, sort, status_publish, replay_id, metadata_id, changed, deleted, create_user_id, create_time, update_user_id, update_time
    </sql>   


</mapper>
